# shellcheck shell=bash

dotenv_if_exists
source_up_if_exists
watch_file ./op.bash

export NODE_ENV=development
export REF_NAME=$(git rev-parse --abbrev-ref HEAD)

if has op; then
    source op.bash
fi

# vim: set et fenc=utf-8 ff=unix ft=sh sts=2 sw=2 ts=2 :
