---
extends: default
ignore:
  - .terraform/
rules:
  comments: disable
  comments-indentation: disable
  indentation:
    indent-sequences: whatever
    spaces: 2
  line-length:
    level: warning
    max: 130
