# shellcheck shell=bash

dotenv_if_exists
if has op; then
  AUTH_GOOGLE_CLIENT_ID=$(op --account broadinstitute.1password.com read "op://BITS - Backstage/OAuth 2.0 Client ID - Prod/client_id")
  export AUTH_GOOGLE_CLIENT_ID
  AUTH_GOOGLE_CLIENT_SECRET=$(op --account broadinstitute.1password.com read "op://BITS - Backstage/OAuth 2.0 Client ID - Prod/client_secret")
  export AUTH_GOOGLE_CLIENT_SECRET
  AUTH_GITHUB_CLIENT_ID=$(op --account broadinstitute.1password.com read "op://BITS - Backstage/auth-github-client-id/credential")
  export AUTH_GITHUB_CLIENT_ID
  AUTH_GITHUB_CLIENT_SECRET=$(op --account broadinstitute.1password.com read "op://BITS - Backstage/auth-github-client-secret/credential")
  export AUTH_GITHUB_CLIENT_SECRET
PD_CLIENT_ID     "op://BITS - Backstage/PagerDuty Scoped OAuth/client_id"
PD_CLIENT_SECRET "op://BITS - Backstage/PagerDuty Scoped OAuth/client_secret"

  op --account broadinstitute.1password.com read "op://BITS - Backstage/github-app-backstage-bits-credentials/github-app-backstage-bits-credentials.yaml" > github-app-backstage-bits-credentials.yaml
fi
if has kubectx; then
  #export KUBECONFIG="${HOME}/.kube/config-dev"
  #kubectx dev
  kubectx gke_bits-gke-clusters_us-east4_gke-autopilot-01-prod
fi
# vim: set et fenc=utf-8 ff=unix ft=sh sts=2 sw=2 ts=2 :
