---
name: "Cloud Build"
"on":
  pull_request:
    branches:
      - main
    paths:
      - "backstage/**"
      - "deployment/backstage/**"
      - ".cloudbuild/**"

jobs:
  build:
    if: github.event.pull_request.draft == false
    name: "Build and Test Image"
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: Set _REPONAME environment variable
        run: echo "_REPONAME=${GITHUB_REPOSITORY#"broadinstitute/"}" >> $GITHUB_ENV

      - uses: "actions/checkout@v6"
      - uses: "google-github-actions/auth@v3"
        with:
          workload_identity_provider: "projects/1087551700560/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "container-image-cloudbuild@bits-packaging-prod.iam.gserviceaccount.com"
      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v3"
        with:
          version: ">= 506.0.0"

      - name: "gcloud docker config"
        run: |-
          gcloud auth configure-docker us-east4-docker.pkg.dev

      - name: Mise override
        run: |
          mise_override="$(pwd)/mise.toml"
          echo "MISE_OVERRIDE_CONFIG_FILENAMES=$mise_override" >> $GITHUB_ENV
        shell: bash

      - uses: jdx/mise-action@v3
        id: mise
        name: Install Dependencies
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Pack Run Image
        working-directory: ./backstage
        run: |
          source "$(werf ci-env github --as-file)"
          werf build --repo us-east4-docker.pkg.dev/${{vars._REGISTRY_PROJECT}}/${{vars._REGISTRY_NAME}}/${{vars._APP}}-run-image
          # werf cleanup --repo us-east4-docker.pkg.dev/${{vars._REGISTRY_PROJECT}}/${{vars._REGISTRY_NAME}}/${{vars._APP}}-run-image

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        working-directory: ./backstage
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Build Backstage Image
        id: build-image
        working-directory: ./backstage
        run: |
          pack build us-east4-docker.pkg.dev/${{vars._REGISTRY_PROJECT}}/${{vars._REGISTRY_NAME}}/${{vars._APP}}:${GITHUB_SHA} \
            -t us-east4-docker.pkg.dev/${{vars._REGISTRY_PROJECT}}/${{vars._REGISTRY_NAME}}/${{vars._APP}}:${{ github.event.number }} \
            --run-image us-east4-docker.pkg.dev/${{vars._REGISTRY_PROJECT}}/${{vars._REGISTRY_NAME}}/${{vars._APP}}-run-image:${GITHUB_SHA} \
            --cache-image us-east4-docker.pkg.dev/${{vars._REGISTRY_PROJECT}}/${{vars._REGISTRY_NAME}}/${{vars._APP}}-cache-image:latest \
            --publish \
            --env NODE_OPTIONS="--max-old-space-size=3686"

          # env:
          # - 'NODE_OPTIONS="--max-old-space-size=3686"'
          # - 'PACK_VOLUME_KEY=backstage-buildpack-cache'
          # args:
          # - 'build'
          # - '${LOCATION}-docker.pkg.dev/${_REGISTRY_PROJECT}/${_REGISTRY_NAME}/${_APP}:${_GITHUB_SHA}'
          # - '-t'
          # - '${LOCATION}-docker.pkg.dev/${_REGISTRY_PROJECT}/${_REGISTRY_NAME}/${_APP}:${_PR}'
          # - '--run-image'
          # - '${LOCATION}-docker.pkg.dev/${_REGISTRY_PROJECT}/${_REGISTRY_NAME}/${_APP}-run-image:${_GITHUB_SHA}'
          # - '--cache-image'
          # - '${LOCATION}-docker.pkg.dev/${_REGISTRY_PROJECT}/${_REGISTRY_NAME}/${_APP}-cache-image:latest'
          # - '--publish'
          # - '--env'
          # - 'NODE_OPTIONS'
  hydrate:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/hydrate.yaml
    needs: build
    with:
      deploy: false
      environment: development

  deploy:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/deploy.yaml
    needs: hydrate
    with:
      deploy: false
      environment: development
