---
name: "Kubernetes Deployment"
"on":
  workflow_call:
    inputs:
      deploy:
        default: false
        description: Whether to deploy the environment or just do a dry run
        required: false
        type: boolean
      environment:
        default: ""
        description: The environment name being used
        required: true
        type: string
      working_directory:
        description: The working directory where all jobs should be executed.
        default: "."
        required: false
        type: string
      dry_run:
        description: Whether dry run is serverside or clientside
        default: "client"
        required: false
        type: string
permissions:
  contents: read
  id-token: write # This is required for requesting the JWT
  pull-requests: read
# The below environment variables are used to set up the Cloud Build trigger
# and can be changed from the defaults if the common build environment doesn't meet the needs of the service
env:
  DEPLOY_PATH: deployment

jobs:
  hydrate:
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    environment: ${{ inputs.environment }}
    name: "Hydrate and deploy Manifests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        id: mise
        name: Install Dependencies
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Copy Kptfile to App Deployment Directory
        run: |
          cp ${{env.DEPLOY_PATH}}/${{ vars.ENV }}/Kptfile ${{ env.DEPLOY_PATH }}/${{ vars._APP }}/Kptfile

      - name: Render App Manifests
        run: |
          kpt fn render ${{ env.DEPLOY_PATH }}/${{ vars._APP }}

      - name: Set Environment Label
        run: |
          kpt fn eval ${{ env.DEPLOY_PATH }}/${{ vars._APP }} \
            --image ghcr.io/kptdev/krm-functions-catalog/set-labels:v0.2 \
            -- environment=${{ vars.ENV }}

      - name: Set Branch Environment Variable
        run: |
          kpt fn eval ${{ env.DEPLOY_PATH }}/${{ vars._APP }} \
            --image ghcr.io/kptdev/krm-functions-catalog/apply-setters:v0.2 \
            -- branch_name="${GITHUB_HEAD_REF:-main}"

      - name: Set Image
        run: |
          kpt fn eval ${{ env.DEPLOY_PATH }}/${{ vars._APP }} \
            --image ghcr.io/kptdev/krm-functions-catalog/set-image:v0.1.1 \
            -- name=${{ vars._LOCATION }}-docker.pkg.dev/bits-gke-clusters/bits/backstage:latest \
            newName=${{ vars._LOCATION }}-docker.pkg.dev/${{ vars._REGISTRY_PROJECT }}/${{ vars._REGISTRY_NAME }}/${{ vars._APP }} \
            newTag=${{ github.event.number }}

      - name: Authenticate to Workload Identity
        uses: google-github-actions/auth@v3
        with:
          service_account: ${{ vars._SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ vars._WORKLOAD_IDENTITY_PROVIDER }}

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v3"
        with:
          version: ">= 506.0.0"

      - name: Authenticate to GKE cluster
        uses: google-github-actions/get-gke-credentials@v3
        with:
          cluster_name: gke-autopilot-01-prod
          location: ${{ vars._LOCATION }}
          project_id: ${{ vars._GKE_PROJECT }}

      - name: GKE Deploy - Dry Run
        if: ${{ inputs.deploy == false }}
        run: |
          kubectl apply -f ${{ env.DEPLOY_PATH }}/${{ vars._APP }} --recursive --dry-run=${{ inputs.dry_run }}
      # - name: GKE Deploy - Apply
      #   if: ${{ inputs.deploy == true }}
      #   run: |
      #     kubectl apply -f ${{ env.DEPLOY_PATH }}/${{ vars._APP }} --recursive
      - name: Install gke-deploy
        run: |
          go env GOPATH
          go env GOBIN
          go install github.com/GoogleCloudPlatform/cloud-builders/gke-deploy@latest
      - name: GKE Deploy - Apply
        if: ${{ inputs.deploy == true }}
        run: |
          gke-deploy run --recursive --filename=${{ env.DEPLOY_PATH }}/${{ vars._APP }} --location=${{ vars._LOCATION }} --project=${{ vars._GKE_PROJECT }} --cluster=gke-autopilot-01-prod --timeout=10m

      # - name: "GKE Deploy using Action"
      #   if: ${{ inputs.deploy == true }}
      #   uses: "google-github-actions/deploy-gke@v0"
      #   with:
      #     image: "${{ vars._LOCATION }}-docker.pkg.dev/${{ vars._REGISTRY_PROJECT }}/${{ vars._REGISTRY_NAME }}/${{ vars._APP }}:${{ github.event.number }}"
      #     app_name: "${{ vars._APP }}"
      #     region: "${{ vars._LOCATION }}"
      #     cluster_name: "gke-autopilot-01-prod"
      #     project_id: "${{ vars._GKE_PROJECT }}"
      #     k8s_manifests: "${{ env.DEPLOY_PATH }}/${{ vars._APP }}"
      #     namespace: "${{ vars._NAMESPACE }}"
