---
name: "Kubernetes Deployment"
'on':
  workflow_call:
    inputs:
      deploy:
        default: false
        description: Whether to deploy the environment or just do a dry run
        required: false
        type: boolean
      environment:
        default: ""
        description: The environment name being used
        required: true
        type: string
      working_directory:
        description: The working directory where all jobs should be executed.
        default: "."
        required: false
        type: string
permissions:
  contents: read
  id-token: write # This is required for requesting the JWT
  pull-requests: read
# The below environment variables are used to set up the Cloud Build trigger
# and can be changed from the defaults if the common build environment doesn't meet the needs of the service
env:
  DEPLOY_PATH: deployment

jobs:
  deploy:
    environment: ${{ inputs.environment }}
    if: ${{ github.event.pull_request.merged == true }}
    name: "Deploy to Kubernetes"
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Set _REPONAME environment variable
        run: echo "_REPONAME=${GITHUB_REPOSITORY#"broadinstitute/"}" >> $GITHUB_ENV

      - uses: "actions/checkout@v6"
      - uses: "google-github-actions/auth@v3"
        with:
          workload_identity_provider: ${{ vars._WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars._SERVICE_ACCOUNT }}
      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v3"
        with:
          version: ">= 506.0.0"
      - name: Authenticate to GKE cluster
        uses: google-github-actions/get-gke-credentials@v3
        with:
          cluster_name: gke-autopilot-01-prod
          location: us-east4
          project_id: bits-gke-clusters
      - name: GKE Deploy - Dry Run
        if: ${{ inputs.deploy == false }}
        run: kubectl apply -f ${{ env.DEPLOY_PATH }}/${{ vars._APP }} --recursive --dry-run=client
      - name: GKE Deploy - Apply
        if: ${{ inputs.deploy == true }}
        uses: docker://gcr.io/cloud-builders/gke-deploy:latest
        with:
          args:
            apply --recursive --filename=${{ env.DEPLOY_PATH }}/${{ vars._APP }} --location=${{
            vars._LOCATION }} --project=${{ vars._GKE_PROJECT }} --cluster=gke-autopilot-01-prod
            --timeout=10m
